<a href="https://colab.research.google.com/github/srujannayak32/MLLAB189/blob/main/MLLAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
n = np.arange(15).reshape(5,3)
print(n)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]]

In [ ]:
n1 = np.arange(6).reshape(3,2)
print(n1)

[[0 1]
 [2 3]
 [4 5]]

In [ ]:
print(np.dot(n,n1))

[[ 10  13]
 [ 28  40]
 [ 46  67]
 [ 64  94]
 [ 82 121]]

In [ ]:
n=np.arange(11)
n2=(n[n%2 != 0])
print(n2)

[1 3 5 7 9]

In [ ]:
n=np.arange(10)
n[:]= np.mean(n)
print(n)

[4 4 4 4 4 4 4 4 4 4]

In [ ]:
n=np.ones((5,5))
print(n)
n[1:-1,1:-1] = 0
print(n)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

In [ ]:
n=np.array([1,2,3,4,5,6,7,3,4,2,9,22,4])
n2= np.unique(n,return_counts=True)
print(n2)

(array([ 1,  2,  3,  4,  5,  6,  7,  9, 22]), array([1, 2, 2, 3, 1, 1, 1, 1, 1]))

In [ ]:
n=np.random.random((3,3))
print(n)
n[n>0.5]=1
n[n<=0.5]=0
print(n)

[[0.08119809 0.85248017 0.63475618]
 [0.0981888  0.05261166 0.11971205]
 [0.66442912 0.32734523 0.78736779]]
[[0. 1. 1.]
 [0. 0. 0.]
 [1. 0. 1.]]

In [ ]:
import pandas as pd
df=pd.read_csv("/content/sample_data/mnist_test.csv")
print(df.shape)
print(type(df))
print(df.head())

(9999, 785)
<class 'pandas.core.frame.DataFrame'>
   7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  1  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.661  0.662  0.663  0.664  0.665  0.666  0.667
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [ ]:
import sklearn as sk
from sklearn.datasets import load_iris

iris=load_iris()

print(iris.keys())
print(iris.data.shape)
print(iris.feature_names)
print(iris.DESCR)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
(150, 4)
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

In [ ]:
print(iris.data.shape[0])
print(df.isnull())
print(df.isna())

150
          7      0    0.1    0.2    0.3    0.4    0.5    0.6    0.7    0.8  \
0     False  False  False  False  False  False  False  False  False  False
1     False  False  False  False  False  False  False  False  False  False
2     False  False  False  False  False  False  False  False  False  False
3     False  False  False  False  False  False  False  False  False  False
4     False  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9994  False  False  False  False  False  False  False  False  False  False
9995  False  False  False  False  False  False  False  False  False  False
9996  False  False  False  False  False  False  False  False  False  False
9997  False  False  False  False  False  False  False  False  False  False
9998  False  False  False  False  False  False  False  False  False  False

      ...  0.658  0.659  0.660  0.661  0.662  0.663  0.664  0.665  0.666  \
0     ...  False  False  False  False  False  False  False  False  False
1     ...  False  False  False  False  False  False  False  False  False
2     ...  False  False  False  False  False  False  False  False  False
3     ...  False  False  False  False  False  False  False  False  False
4     ...  False  False  False  False  False  False  False  False  False
...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9994  ...  False  False  False  False  False  False  False  False  False
9995  ...  False  False  False  False  False  False  False  False  False
9996  ...  False  False  False  False  False  False  False  False  False
9997  ...  False  False  False  False  False  False  False  False  False
9998  ...  False  False  False  False  False  False  False  False  False

      0.667
0     False
1     False
2     False
3     False
4     False
...     ...
9994  False
9995  False
9996  False
9997  False
9998  False

[9999 rows x 785 columns]
          7      0    0.1    0.2    0.3    0.4    0.5    0.6    0.7    0.8  \
0     False  False  False  False  False  False  False  False  False  False
1     False  False  False  False  False  False  False  False  False  False
2     False  False  False  False  False  False  False  False  False  False
3     False  False  False  False  False  False  False  False  False  False
4     False  False  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9994  False  False  False  False  False  False  False  False  False  False
9995  False  False  False  False  False  False  False  False  False  False
9996  False  False  False  False  False  False  False  False  False  False
9997  False  False  False  False  False  False  False  False  False  False
9998  False  False  False  False  False  False  False  False  False  False

      ...  0.658  0.659  0.660  0.661  0.662  0.663  0.664  0.665  0.666  \
0     ...  False  False  False  False  False  False  False  False  False
1     ...  False  False  False  False  False  False  False  False  False
2     ...  False  False  False  False  False  False  False  False  False
3     ...  False  False  False  False  False  False  False  False  False
4     ...  False  False  False  False  False  False  False  False  False
...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9994  ...  False  False  False  False  False  False  False  False  False
9995  ...  False  False  False  False  False  False  False  False  False
9996  ...  False  False  False  False  False  False  False  False  False
9997  ...  False  False  False  False  False  False  False  False  False
9998  ...  False  False  False  False  False  False  False  False  False

      0.667
0     False
1     False
2     False
3     False
4     False
...     ...
9994  False
9995  False
9996  False
9997  False
9998  False

[9999 rows x 785 columns]

In [ ]:
import numpy as np
#n=np.array([1,-2,-54,3,-53,12,-32,90,-87])
n1=np.arange(9).reshape(3,3)
normalized_matrix=(n1-np.mean(n1))/np.std(n1)
print(normalized_matrix)

[[-1.54919334 -1.161895   -0.77459667]
 [-0.38729833  0.          0.38729833]
 [ 0.77459667  1.161895    1.54919334]]

In [ ]:
n1[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

In [ ]:
n=np.arange(12).reshape(4,3)
print(np.vstack((n,n1)))

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]]

In [ ]:
print(np.intersect1d(n,n1))

[0 1 2 3 4 5 6 7 8]

In [ ]:
n2=np.random.randint(0,3,10)
print(n2)

[2 2 1 0 0 1 2 2 0 1]

In [ ]:
print(n)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [ ]:
n3=np.mean(n,axis=1)
print(n3)

[ 1.  4.  7. 10.]

In [ ]:
n4=np.arange(33)
n4[:]=np.mean(n4)
print(n4)

[16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16 16
 16 16 16 16 16 16 16 16 16]

In [ ]:
import pandas as pd
from sklearn.datasets import load_iris

iris=load_iris()
df=pd.DataFrame(iris.data,columns=iris.feature_names)
df['Id'] = range(1, len(df) + 1)
print(df.head())
df = df.drop('Id', axis=1)
print(df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   Id
0   1
1   2
2   3
3   4
4   5
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

WEEK-2 PRACTICE

In [1]:
import sklearn as sk
import pandas as pd
from sklearn.datasets import load_iris

iris=load_iris()
df=pd.DataFrame(iris.data)
print(df)
print(df.shape)
print(type(df))
print(df.dtypes)
print(df.head(3))

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]
(150, 4)
<class 'pandas.core.frame.DataFrame'>
0    float64
1    float64
2    float64
3    float64
dtype: object
     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2

In [2]:
import sklearn as sk
import pandas as pd
from sklearn.datasets import load_iris

iris=load_iris()
df=pd.DataFrame(iris.data)
print(df)
missing_values = df.isnull().sum()
display(missing_values)

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

0    0
1    0
2    0
3    0
dtype: int64

In [3]:
import sklearn
import numpy as np
from sklearn import datasets
iris = datasets.load_iris()
print(iris.keys())
print(iris.data.shape)
print(iris.feature_names)
print(iris.DESCR)
print("no.of observations: ", iris.data.shape[0])
missingvals = np.isnan(iris.data).sum()
print("no.of missing values: ", missingvals)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
(150, 4)
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

no.of observations:  150
no.of missing values:  0